{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row" id="course-page">
                <img src="{{MEDIA_URL}}{{ assignment.course.image }}" class="medium-2 columns">
                <h2>{{ assignment.course }}</h2>

                <div id="points">
                    Точки:
                    <strong>{{ assignment.points }}</strong>
                </div>
                
                <div>
                    <a href="{{ assignment.course.git_repository }}" target="_blank">Материали в GitHub</a>
                </div>

                {% if is_teacher %}
                    {% for note in notes %}
                        <p class="large-12 columns" style="padding-top: 40px;">
                            {{ note.text }}
                            <hr>
                        </p>
                    {% endfor %}
                   
                    {{ form.errors }}
                    <form method="POST">
                    {% csrf_token %}

                        <textarea cols="40" id="id_text" name="text" rows="10"></textarea>
                        <input type="hidden" name="assignment" value="{{ assignment.id }}">
                        <button>Дай коментар!</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}