{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row" id="course-page">
                <div class="medium-3 columns"  style="padding-bottom: 20px;">
                    <img src="{{ assignment.user.getAvatarUrl }}" class="th">
                </div>
                <h2>{{ assignment.course }} и {{ assignment.user.get_full_name }}</h2>

                <div>
                    <p>
                    <a href="{{ assignment.user.github_account }}" target="_blank">GitHub акаунт: {{ assignment.user.github_account }}</a>
                    </p>
                    <p>
                        <a href="{{ assignment.course.git_repository }}" target="_blank">Материали в GitHub</a>
                    </p>
                    <p>
                        <a href="{% url 'courses:course-students' assignment.course.id %}">Виж всички записали курса</a>
                    </p>
                </div>

                {% if is_teacher %}
                    {% for note in notes %}
                        <p class="large-12 columns">
                            <strong>{{ note.author.get_full_name }}</strong>:
                            <br><small>{{ note.post_time|date:"d-m-Y" }} </small>
                            <br>{{ note.text }}
                            <hr>
                        </p>
                    {% endfor %}

                    {{ form.errors }}
                    <form method="POST">
                    {% csrf_token %}

                        <textarea cols="40" id="id_text" name="text" rows="10"></textarea>
                        <input type="hidden" name="assignment" value="{{ assignment.id }}">
                        <button>Дай коментар!</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
