{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h3>{{ user.first_name }} {{ user.last_name }} -  {{ user.faculty_number }}</h3>
        <form  method="post" action="" enctype="multipart/form-data">
            <fieldset>
                <legend>Редактиране на профил</legend>
                {% if form.errors %}
                    {% for fieldName, errorMessage in form.errors.items %}
                        {{ errorMessage }}
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                <div class="large-3 columns" style="height: 400px;">
                    {% if user.avatar %}
                        <img src="{{ MEDIA_URL   }}{{ form.avatar.value }}" alt="" class="th">
                    {% else %}
                        <img src="{{ STATIC_URL }}img/no-avatar.png" alt="" class="th">
                    {% endif %}
                    <input id="id_avatar" name="avatar" type="file" style="margin-top:20px">
                    <input id="avatar-clear_id" name="avatar-clear" type="checkbox"> Премахни снимката
                </div>
                <div class="large-8 columns">
                    <label>GitHub Account:
                        <input type="text" name="github_account" placeholder="https://github.com/" value="{{ form.github_account.value|default:"" }}"/>
                    </label>
                </div>
                
                <div class="large-8 columns">
                    <label>LinkedIn Account:
                        <input type="text" name="linkedin_account" placeholder="https://linkedin.com/" value="{{ form.linkedin_account.value|default:"" }}" />
                    </label>
                </div>
                
                <div class="large-9 columns">
                    <label>Описание:
                        <textarea id="" rows="10" name="description" placeholder="Опиши се с няколко думи">{{ form.description.value|default:"" }}</textarea>
                    </label>
                </div>

                <div class="large-9 columns">
                    <label>Нова Парола: (Остави празно, ако не искаш да смениш паролата)
                        <input type="password" name="new_password1"/>
                    </label>
                </div>

                <div class="large-9 columns">
                    <label>Парола Отново:
                        <input type="password" name="new_password2"/>
                    </label>
                </div>

            </fieldset>
            <button>Промени</button>
        </form>
    </div>
</div>
{% endblock %}