{% extends "base.html" %}

{% block meta %}
    <title>Вход за курсисти | Hack Bulgaria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/css3-social-signin-buttons/1.0.0/auth-buttons.min.css" media="screen" title="no title" charset="utf-8">
{% endblock meta %}

{% block content %}
<div class="row">
    <div class="large-5 columns">
        <form method="post" action="">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" internalError>
                    <div data-alert class="alert-box">
                        <strong>Грешка! </strong>
                        Грешна парола или потребителско име.
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="large-12 columns">
                    <label>Email
                        <input type="email" name="username" class="error" />
                    </label>
                    {# <small class="error">Invalid entry</small> #}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Парола
                        <input type="password" name="password" class="error" />
                    </label>
                    {# <small class="error">Invalid entry</small> #}
                </div>
            </div>
            <p><a href="{% url 'password_reset' %}">Забравена парола?</a></p>
            <button class="button medium">Вход</button>
            <a class="btn-auth btn-github large" href="https://github.com/login/oauth/authorize?client_id=e637efdaf3a19fee44da&scope=user">
                Sign in with <b>Github</b>
            </a>
        </form>
    </div>
</div>
{% endblock content %}
