{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Моля въведете нова парола два пъти.</p>
        <form action="" method="post">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
                {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
                <button>Смени паролата</button>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}