{% extends "base.html" %}

{% block meta %}
    <title>{{ user.first_name }} {{ user.last_name }} | Hack Bulgaria</title>
{% endblock %}


{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row">

                {% if user.avatar %}
                    <img src="{{ MEDIA_URL   }}{{ user.avatar }}" class="medium-3 columns" id="profile-avatar">
                {% else %}
                    <img src="{{ STATIC_URL }}img/no-avatar.png" class="medium-3 columns" id="profile-avatar">
                {% endif %}
                <ul>

                <h1>{{ user.get_full_name }} - {{ user.faculty_number }}</h1>

                <p style="min-height: 180px;">
                    {{ user.description }}
                </p>

                <h5>Курсове:</h5>

                <ol>
                    {% for assignment in user.courseassignment_set.all %}
                        <li><a href="{% url 'students:assignment' assignment.pk %}">{{ assignment.course }}</a></li>
                    {% endfor %}
                </ol>

                <h5>Контакти:</h5>
                <ul>
                    <li>LinkedIn: <a href="{{ user.linkedin_account }}">{{ user.linkedin_account }}</a></li>
                    <li>GitHub: <a href="{{ user.github_account }}">{{ user.github_account }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}