{% extends "base.html" %}

{% block meta %}
    <title>{{ user.get_full_name }} | Hack Bulgaria</title>
{% endblock meta %}


{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row">
                <div class="medium-3 columns">
                    <img src="{{ user.get_avatar_url }}" class="th" id="profile-avatar">
                </div>
                <div class="medium-9 columns">
                    <h1>{{ user.get_full_name }} - {{ user.id }}</h1>

                    <p style="min-height: 120px;">
                        {{ user.description }}
                    </p>
                </div>
                <div class="medium-12 columns">
                    <h5>Курсове:</h5>

                    <ol>
                        {% for assignment in assignments %}
                            <li>
                                <a href="{% url 'students:assignment' assignment.pk %}">{{ assignment.course }}</a> -
                                {% if is_student %}
                                <i class="foundicon-paper-clip"></i>
                                <a href="{% url 'students:solutions' assignment.course.pk %}">Предай задачи</a>
                                {% elif is_hr %}
                                <i class="foundicon-address-book"></i>
                                <a href="{% url 'courses:show_course_students' assignment.course.pk %}">Всички записали курса</a>
                                {% elif is_teacher %}
                                <i class="foundicon-inbox"></i>
                                <a href="#">Всички предадени задачи</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>

                    {% if certificates %}
                    <h5>Сертификати:</h5>
                    <ol>
                        {% for certificate in certificates %}
                        <li><a href="{{ certificate.get_absolute_url }}">{{ certificate.assignment.course }}</a></li>
                        {% endfor %}
                    </ol>
                    {% endif %}

                    <h5>Контакти:</h5>
                    <ul>
                        <li>LinkedIn: <a href="{{ user.linkedin_account }}">{{ user.linkedin_account }}</a></li>
                        <li>GitHub: <a href="{{ user.github_account }}">{{ user.github_account }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
