{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row">
                <div class="medium-3 columns">
                    <img src="{{ user.get_avatar_url }}" class="th" id="profile-avatar">
                </div>
                <div class="medium-9 columns">
                    <h1>{{ user.get_full_name }}</h1>
                    <a href="{% url 'students:edit_profile' %}"><span class="foundicon-edit"></span> Редактирай профила</a>
                </div>
                <div class="medium-12 columns">
                    <h5>Курсове:</h5>

                    <ol>
                        {% for assignment in assignments %}
                            <li>
                                {% if is_student %}
                                    <a href="{% url 'students:assignment' assignment.pk %}">{{ assignment.course }}</a>

                                    <a href="{% url 'students:solutions' assignment.course.url %}"><span class="foundicon-paper-clip"></span> Предай задачи</a>
                                {% elif is_hr %}
                                    {{ assignment.course }}

                                    <a href="{% url 'courses:show_course_students' assignment.course.url %}"><span class="foundicon-address-book"></span> Всички записали курса</a>
                                {% elif is_teacher %}
                                    {{ assignment.course }}
                                    <a href="{% url 'courses:show_course_students' assignment.course.url %}"><span class="foundicon-address-book"></span> Всички записали курса, </a>
                                    <a href="{% url 'courses:show_submitted_solutions' assignment.course.url %}"><span class="foundicon-inbox"></span> Всички предадени задачи</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>

                    {% if certificates %}
                    <h5>Сертификати:</h5>
                    <ol>
                        {% for certificate in certificates %}
                        <li><a href="{{ certificate.get_absolute_url }}">{{ certificate.assignment.course }}</a></li>
                        {% endfor %}
                    </ol>
                    {% endif %}

                    <h5>Контакти:</h5>
                    <ul>
                        <li>LinkedIn: <a href="{{ user.linkedin_account }}">{{ user.linkedin_account }}</a></li>
                        <li>GitHub: <a href="{{ user.github_account }}">{{ user.github_account }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
