{% extends "base.html" %}


{% block meta %}
    <title>Предаване на задачи</title>
{% endblock meta %}

{% block content %}
    <h3>{{ course }}</h3>
    <dl class="accordion" data-accordion>
        {% for week in weeks %}
            <dd class="accordion-navigation">
                <a href="#panel{{ week.pk }}">{{ week }}</a>
                <div id="panel{{ week.pk }}" class="content">
                    <div class="tabs-content">
                        {% for task in tasks %}
                            {% if task.week == week %}
                                <p>
                                    <a href="{{ task.description }}" target="_blank"><h4>{{ task }}</h4></a>
                                    <p>
                                        Deadline: {{ task.deadline}}
                                        <div class="row collapse">
                                            <div class="small-10 columns">
                                                <input type="url" name="repo" data-task="{{ task.id }}" data-send-to="{% url 'students:add_solution' %}" placeholder="Линк към Github repo или файл." class="task-sender" value="{{ task.solution.repo }}">
                                            </div>
                                            <div class="small-1 columns">
                                                <button type="button" class="button postfix">Send</button>
                                            </div>
                                            <div class="small-1 columns">
                                                <span class="postfix radius status-info">
                                                    {% if task.solution.repo %}
                                                        <i class='fi-check'></i>
                                                    {% else %}
                                                        <i class='fi-x'></i>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </p>
                                    <hr>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </dd>
        {% endfor %}
    </dl>
{% endblock content %}

{% block jsfooter %}
    <script>
        $(document).ready(function() {
            $(".task-sender").change(function(ev) {
                var $current = $(this),
                    repo = $current.val()
                    task = $current.data("task"),
                    sendTo = $current.data("send-to");

                $.ajax({
                    type: 'POST',
                    url: sendTo,
                    data: {
                        task: task,
                        repo: repo
                    }
                })
                .done(function(data) {
                    $current.parents("div.collapse").find("span").html("<i class='fi-check'></i>")
                })
                .fail(function() {
                    $current.parents("div.collapse").find("span").html("<i class='fi-x'></i>")
                })
            });
        });
    </script>
{% endblock jsfooter %}
