language : python
python:
  - '2.7'

addons:
  postgresql: '9.3'

services : postgresql

install:
  - pip install -r requirements/travis.pip --use-mirrors

before_script:
  - psql -c 'CREATE DATABASE testdb;' -U postgres

script:
  - python manage.py makemigrations --noinput
  - python manage.py migrate
  - coverage run --source='.' manage.py test

after_success:
  - coveralls --rcfile=.coverage.rc
