Django==1.6.2
Markdown==2.4
MySQL-python==1.2.5
Pillow==2.4.0
South==0.8.4
django-admin-sortable2==0.2.7
django-adminfiles==1.0.1
django-cors-headers==0.12
django-debug-toolbar==1.2.1
django-filebrowser==3.5.6
django-grappelli==2.5.3
django-markdown-deux==1.0.4
django-mptt==0.5.5
django-pagedown==0.1.0
django-password-reset==0.7
django-polymorphic==0.5.5
django-resized==0.2.4
django-tinymce==1.5.2
easy-thumbnails==2.0.1
markdown2==2.2.1
netaddr==0.7.11
sorl-thumbnail==11.12
sqlparse==0.1.11
wsgiref==0.1.2
