#main-nav {
    margin-bottom: 20px;
    background: #008cba;
}

#main-nav a, .title-area, .toggle-topbar > a {
    background: #008cba !important;
    color: #FFF;
}

#main-nav a:hover {
    background: #007095;
}

#course-page {
    padding-left: 20px;
    padding-right: 20px;
}

#course-page > ul, ol {
    padding-left: 25px;
}

.entypo-export {
    display: inline;
}

#social-button {
    margin-top: 40px;
}

#socials > li {
    float: left;
    display: inline-block;
    list-style: none;
}

#socials {
    width: 265px;
    float: right;
    margin: -10px 0 0 0;
}

#socials > li > a{
    display: inline-block;
    height: 32px;
    width: 32px;
    text-indent: -9999em;
    margin: 3px;
    float: right;
}

#profile-avatar{
    float: left;
}

#points{
    border:1px solid;
    padding: 15px;
    width: 100px;
    float: right;
    margin-top: -45px;
}

#notes-button {
    margin: 0;
}

.not_attending {
    -webkit-filter: opacity(.2);
    filter: opacity(.2);
}
