{% extends "base.html" %}

{% block meta %}
    <title>Често задавани въпроси</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <dl class="accordion" data-accordion>
          {% for faq in faqs %}
          <dd>
            <a href="#panel{{ faq.id }}">{{ faq.title }}</a>
            <div id="panel{{ faq.id }}" class="content">
              {% load markdown_deux_tags %}
              
              <p>{{ faq.text | markdown }}</p>
            </div>
          </dd>
          {% endfor %}
        </dl>
    </div>
</div>
<p></p>
{% endblock %}