{% extends "base.html" %}

{% block meta %}
    <title>Статистики за всички потребители - HackBulgaria</title>
{% endblock meta %}

{% block content %}
    <div class="row">
        <h2 class="text-center">Статистики за всички потребители</h2>

        <ul class="pricing-table">
          <li class="bullet-item">Общо assignments: {{ total_assignments }}</li>
          <li class="bullet-item">Общо assignments без въведен MAC address: {{ total_without_mac_address }}</li>
          <li class="bullet-item">Общо assignments без профилна снимка: {{ total_without_profile_picture }}</li>
        </ul>

    <div class="row" data-equalizer>
        <h3 class="text-center">Assignments без MAC адреси</h3>
        {% for assignment in assignments_without_mac %}
        <div class="medium-4 columns" data-equalizer-watch>
            <a href="{{ assignment.get_absolute_url }}">
                <img src="{{ assignment.get_avatar_url }}"/>
                <p>{{ assignment }} - {{ assignment.user.email }}</p>
            </a>
        </div>
      {% endfor %}
    </div>

    <div class="row" data-equalizer>
        <h3 class="text-center">Assignments без профилни снимки</h3>
        {% for assignment in assignments_without_profile_picture %}
        <div class="medium-4 columns" data-equalizer-watch>
            <a href="{{ assignment.get_absolute_url }}">
                <img src="{{ assignment.get_avatar_url }}"/>
                <p>{{ assignment }} - {{ assignment.user.email }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
