{% extends "base.html" %}

{% block meta %}
    <title>Статистики за {{ partner.name }} - HackBulgaria</title>
{% endblock meta %}

{% block content %}
    <h2 class="text-center">{{ partner.name }}</h2>

    <ul class="pricing-table">
      <li class="bullet-item">Money spent: {{ partner.money_spent }} BGN</li>
      <li class="bullet-item">Hired: {{ started_working_ats.count }}</li>
      <li class="bullet-item">Cost Per Recruitment: {{ cost_per_recruitment }} BGN</li>
      <li class="bullet-item">Percent hired: {{ hired_percent }}</li>
    </ul>


    {% if started_working_ats %}
    <h3 id="hired-people" class="text-center">Hired people: </h2>
    <ul class="medium-block-grid-4">
        {% for started_working_at in started_working_ats %}
        <li><img src="{{ started_working_at.assignment.user.get_avatar_url }}"/>{{ started_working_at.assignment.user.get_full_name }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock content %}
