{% extends "base.html" %}

{% block meta %}
    <title>Статистики за всички непартньори - HackBulgaria</title>
{% endblock meta %}

{% block content %}
    <div class="row">
        <h2 class="text-center">Статистики за всички непартньори</h2>

        <ul class="pricing-table">
          <li class="bullet-item">Общо разходи: {{ total_money_spent }} BGN</li>
          <li class="bullet-item">Общ брой наети: {{ total_started_working_ats }}</li>
          <li class="bullet-item">Общ процент наети от курсове: {{ total_hired_percent }} %</li>
          <li class="bullet-item">Average Cost Per Recruitment: {{ average_cost_per_recruitment }} BGN</li>
        </ul>

    <div id="partners-list" class="text-center">
        <h3>Партньори:</h3>
        {% for partner in partners %}
        <p><a href="{{ partner.get_statistics_url }}">{{ partner.name}}</a></p>
        {% endfor %}
    </div>
{% endblock content %}
