{% extends "base.html" %}

{% block meta %}
    <title>Статистики за {{ partner.name }} - HackBulgaria</title>
{% endblock meta %}

{% block content %}
    <h2 class="text-center">{{ partner.name }}</h2>

    <ul class="pricing-table">
      <li class="bullet-item">Разходи: {{ partner.money_spent|floatformat }} BGN</li>
      <li class="bullet-item">Брой наети: {{ started_working_ats.count }}</li>
      <li class="bullet-item">Процент наети от курсове: {{ hired_percent|floatformat:"-2" }} %</li>
      <li class="bullet-item">Cost Per Recruitment: {{ cost_per_recruitment|floatformat:"-2" }} BGN</li>
    </ul>


    {% if started_working_ats %}
    <div class="row" data-equalizer>
        <h3 id="hired-people" class="text-center">Наети хора: </h2>
        <ul class="medium-block-grid-4" data-equalizer-watch>
            {% for started_working_at in started_working_ats %}
            <li><img src="{{ started_working_at.assignment.user.get_avatar_url }}"/>
            <p>{{ started_working_at.assignment.user.get_full_name }}</p></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock content %}
