{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block meta %}
    {{ form.media }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/forum-style.css" />
    <title>Форум на Hack Bulgaria</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-3 columns">
                <div class="panel text-center"> 
                    <h5>{{ topic.author.get_full_name }}</h5>
                    <img src="{{ topic.author.get_avatar_url }}" class="th">
                </div>
            </div>            
            
            <div class="large-9 columns">
                <div class="panel">
                    <h3>{{ topic.title }} 
                        {% if topic.author == user %} 
                            <a href="{% url 'forum:edit-topic' topic.id %}"><img src="{{ STATIC_URL }}img/edit-icon.png" alt=""></a>
                        {% endif %}
                    </h3>
                    <p>{{ topic.text|markdown }}</p>
                </div>
            </div>
            <hr>
        </div>
        
        {% for comment in comments %}
        <div class="row" id="{{ comment.id }}">
            <div class="large-3 columns">
                <div class="panel text-center"> 
                    <h5>{{ comment.author.get_full_name }}</h5>
                    <img src="{{ comment.author.get_avatar_url }}" alt="" class="th">
                </div>
            </div>            
            
            <div class="large-9 columns">
                <div class="panel">
                    {% if comment.author == user %}
                        <a href="{% url 'forum:edit-comment' comment.id %}"><img src="{{ STATIC_URL }}img/edit-icon.png" alt="edit comment" id="comment-edit"></a>
                    {% endif %}
                    <p>{{ comment.text|markdown }}</p>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
            <h3>Нов отговор:</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.text }}
                <button>Пускай</button>
            </form>
        {% endif %}
        
        {% if user.is_authenticated %}
            {% if topic in request.user.subscribed_topics.all %}
            <div id="unsubscribe-text">
                    Оставяйки коментар в темата, ще започнеш да получаваш email за всеки нов коментар. Ако не искаш - натисни този бутон. 

                    <button class="button tiny" id="unsubscribe" data-topic-id="{{ topic.id }}">Unsubscribe</button>
                </div>
            {% else %}
                <div id="subscribe-text">
                    Абонирай се към тази тема, за да получаваш email за всеки коментар. 

                    <button class="button tiny" id="subscribe" data-topic-id="{{ topic.id }}">Subscribe</button>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block jsfooter %}
    <script>
        $('#unsubscribe').on("click", function() {
            var topicId = $(this).data("topic-id");

            $.get( "/unsubscribe/" + topicId + "/", function(data) {

            }).done(function() {
                $("#unsubscribe-text").hide("slow");
            });
        });

        $('#subscribe').on("click", function() {
            var topicId = $(this).data("topic-id");

            $.get( "/subscribe/" + topicId + "/", function(data) {

            }).done(function() {
                $("#subscribe-text").hide("slow");
            });
        });    
    </script>
{% endblock %}