{% extends "base.html" %}

{% block meta %}
    <title>Форум на Hack Bulgaria</title>
{% endblock meta %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% for category in categories %}
        <div class="row">
            <div class="large-12 columns">
                <div class="radius panel">
                    <a href="{% url 'forum:show_category' category.id %}"><h4>{{ category }}</h4></a>
                    <p>{{ category.text }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
