{% extends "base.html" %}

{% block meta %}
    <title>{{ course.SEO_title }}</title>
    <meta name="description" content="{{ course.SEO_description }}"/>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row" id="course-page">
                <img src="{{MEDIA_URL}}{{ course.image }}" class="medium-2 columns">
                
                    {% load markdown_deux_tags %}

                    <p>{{ course.description | markdown }}</p>
                    <ul class="large-4 columns">

                    </ul>
                {% if course.enable_applications %}
                    <a target="_blank" href="{{ course.applications_url }}" class="button large-3 columns" style="margin-top:30px;">Кандидатствай</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th width="300">Седмица</th>
          <th width="900">Материали</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1. Въведение в програмиране:</td>
            <td>
                <ul>
                    <li>Задачи</li>
                    <li>Видео</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>2. Езици за програмиране:</td>
            <td>
                <ul>
                    <li>Задачи</li>
                    <li>Видео</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>3. Git и GitHub:</td>
            <td>
                <ul>
                    <li>Задачи</li>
                    <li>Видео</li>
                </ul>
            </td>
        </tr>
      </tbody>
    </table>-->
    </div>
</div>

{% endblock %}