{% extends "base.html" %}

{% block meta %}
    <title>Курсове по програмиране - HackBulgaria</title>
{% endblock meta %}

{% block content %}
<h3 class="text-center">Предстоящи</h3>
{% if upcoming_courses %}
    <div id="upcoming_courses">
    {% for course in upcoming_courses %}
        <div class="medium-4 columns">
            <div class="panel text-center">
                <h5>{{ course.name }}</h5>
                <a href="/course/{{ course.url }}/"><img class="small-6" style="height: 250px;" src="{{MEDIA_URL}}{{ course.image }}"></a>
                <a href="/course/{{ course.url }}/" class="button small-12" style="margin-top: 20px" >Повече информация</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p id="no_upcoming_courses" class="text-center">
        За момента няма предстоящи курсове. Следете блога на Hack Bulgaria.
    </p>
{% endif %}

<hr>
<h3 class="text-center">Активни</h3>
{% if active_courses %}
    <div id="active_courses">
        {% for course in active_courses %}
            <div class="medium-4 columns">
                <div class="panel text-center">
                    <h5>{{ course.name }}</h5>
                    <a href="/course/{{ course.url }}/"><img class="small-6" style="height: 250px;" src="{{MEDIA_URL}}{{ course.image }}"></a>
                    <a href="/course/{{ course.url }}/" class="button small-12" style="margin-top: 20px" >Повече информация</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p id="no_active_courses" class="text-center">
        В момента няма активни курсове. Следете блога на Hack Bulgaria.
    </p>
{% endif %}

<hr>

<h3 class="text-center">Приключили</h3>
{% if ended_courses %}
    <div id="ended_courses">
    {% for course in ended_courses %}
        <div class="medium-4 columns">
            <div class="panel text-center">
                <h5>{{ course.name }}</h5>
                <a href="/course/{{ course.url }}/"><img class="small-6" style="height: 250px;" src="{{MEDIA_URL}}{{ course.image }}"></a>
                <a href="/course/{{ course.url }}/" class="button small-12" style="margin-top: 20px" >Повече информация</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p id="no_ended_courses" class="text-center">
        За момента няма приключили курсове. Следете блога на Hack Bulgaria.
    </p>
{% endif %}
{% endblock content %}
