<html>
    <head>
        <title>HackBulgaria {{ user }} Certificate</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/certificate.css">
        <meta property="og:title" content="Hack Bulgaria Certificate"/>
        <meta property="og:image" content="{{ STATIC_URL }}img/certificate-screen.png"/>
        <meta property="og:site_name" content="Hack Bulgaria"/>
        <meta property="og:description" content="Certificate for being awesome in {{ course.name }} course in HackBulgaria"/>
    
    </head>
    <body>
        <div id="fb-holder">
            <div class="fb-share-button" data-href="" data-width="50"></div>
        </div>
        <a href="http://{{ request.get_host }}/">
            <img id="logo" src="{{ STATIC_URL }}img/HackBG-certificates-logo.png" alt="HackBulgaria Logo">
        </a>
        <h2 id="title">Certificate for being awesome in {{ course.name }}</h2>
        <div>
            <p id="name">{{ user }}</p>
        </div>
        
        <fieldset id='github-statistics'>
            <legend>Github Statistics:</legend>
                <div>Closed Issues: {{ certificate.issues_closed }}</div>
                <div>Still Open Issues: {{ certificate.issues_opened }}</div>
                <div>Total Commits: {{ certificate.total_commits }}</div>
         </fieldset>

        <div>
            <fieldset id='projects'>
                <legend>Projects:</legend>
                {% for task in tasks %}
                    <div>
                        <a href="{{ task.description }}">{{ task }}</a> - 
                        {% if task.solution %}
                            <a class="code-sent" href="{{ task.solution.repo }}">Source Link</a>
                        {% else %}
                            <span class="code-not-sent">Source not sent</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>

        </div>
    </body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</html>
