{% extends "base.html" %}

{% block meta %}
    <title>Партньори на HackBulgaria</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            {% for partner in partners %}
                <h2 class="text-center">{{ partner.name }}</h2>
                <div class="medium-3 columns">
                    <img src="{{ MEDIA_URL }}{{ partner.logo }}" height="200">
                </div>
                <div class="medium-9 columns">
                    {% autoescape off %}
                        <p>{{ partner.description }}</p>
                    {% endautoescape %}
                    <ul>
                        {% if partner.website %}
                            <li><a href="{{ partner.website }}">Website</a></li>
                        {% endif %}
                        {% if partner.facebook %}
                            <li><a href="{{ partner.facebook }}">Facebook</a></li>
                        {% endif %}
                        {% if partner.twitter %}
                            <li><a href="{{ partner.twitter }}">Twitter</a></li>
                        {% endif %}
                    </ul>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
