{% extends "base.html" %}

{% block meta %}
    <title>Курсове по програмиране - HackBulgaria</title>
{% endblock %}

{% block content %}
<div class="row">
    {% for course in courses %}
        <div class="medium-4 columns">
            <div class="panel text-center">
                <h5>{{ course.name }}</h5>
                <a href="/course/{{ course.url }}/"><img class="small-6" src="{{MEDIA_URL}}{{ course.image }}"></a>
                <a href="/course/{{ course.url }}/" class="button small-12" style="margin-top: 20px" >Повече информация</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}