{% extends "base.html" %}


{% block meta %}
    <title>Предаване на задачи за прием</title>
{% endblock meta %}

{% block content %}

    <h3>Прием - {{ course.name }}</h3>
    Това е финалната стъпка от твоята кандидатура!
    Можеш да приакчиш своите решения до {{ course.application_until|date:"d.m.Y"  }}. Не се притеснявай, ако не предадеш всички задачи наведнъж! Последните промени се запазват всеки път.
    <p><strong>Желателно е да използваш gist или GitHub за линковете.</strong></p>
    {% for task in tasks %}
        <p>
            <a href="{{ task.description }}" target="_blank"><h4>{{ task }}</h4></a>
            <p>
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="url" name="repo" data-task="{{ task.id }}" data-send-to="{% url 'applications:add_solution' %}" placeholder="Линк към решението!" class="task-sender" value="{{ task.solution.repo }}">
                    </div>
                    <div class="small-1 columns">
                        <button type="button" class="button postfix">Изпрати</button>
                    </div>
                    <div class="small-1 columns">
                        <span class="postfix radius status-info">
                            {% if task.solution.repo %}
                                <i class='fi-check'></i>
                            {% else %}
                                <i class='fi-x'></i>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </p>
            <hr>
        </p>
    {% endfor %}
{% endblock content %}

{% block jsfooter %}
    <script src="{{ STATIC_URL }}js/solutions.js"></script>
{% endblock jsfooter %}
