{% extends "base.html" %}


{% block meta %}
    <title>Hack Bulgaria кандидатстване</title>
{% endblock meta %}

{% block content %}

    <h4>{{ header_text }}</h4>
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <h2 class="text-center">Hack Bulgaria кандидатстване</h3>
                {% if form.errors %}
                    <div data-alert class="alert-box info radius">
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{field.label}}</li>
                                    <ul>
                                        {% for error in field.errors%}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="large-5 columns" id="video-place">
                    .
                </div>

                <p class="large-7 columns">
                    Tова е формата за кандидатсване за курсове в Хак България.
                Попълни формата, след което ще получиш имейл с подробности за останалите стъпки по кандидатстването.
                </p>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button>Давай</button>
                </form>
            </div>
        </div>
    </div>
    <style>
    .errorlist {
        display: none;
    }
    </style>
{% endblock content %}

{% block jsfooter %}
    <script type="text/javascript">
    $(document).ready(function() {
        function linkToIframe(v){
            var id = v.split('watch?v=')[1];
            return '<iframe width="100%" height="240" src="http://www.youtube.com/embed/' + id + '" frameborder="0" allowfullscreen></iframe>';
        }

        function changeVideo(course_id) {
            $.post( "/api/courses/get_video/", { id: course_id })
                .done(function( data ) {
                    var video = (linkToIframe(data['course_video']));
                    $("#video-place").html(video);
                });
        }

        $("#id_course").change(function() {
            var course_id = $(this).val()
            changeVideo(course_id);
        });

        $("#id_course").trigger("change")
    });
    </script>
{% endblock jsfooter %}
