{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <p>
                Твоята кандидатура е успешно приета, но имаш още работа!
                <strong>Това е!</strong> За теб няма интервю нито задачи.
                <p class="text-center" >
                    <img src="{{ STATIC_URL }}img/hackman2.png" width="150px" style="margin:auto;">
                </p>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
