@font-face {
    font-family: hackBG;
    src: url(../fonts/Volter8Goldfish29.ttf);
}

body {
    font-family: hackBG;
    margin: 0px;
    border-color:orange;
    border-style:double;
    background-color: #AABBBB;
    text-align: center;
    border-width: 35px 35px 32px 35px;
    -moz-border-image:url("../img/border.png") 40 30 10 20 repeat;
    -webkit-border-image:url("../img/border.png") 25 25 25 25 repeat;
    border-image:url("../img/border.png") 40 40 32 40 repeat;
}


p#name {
    border-color:orange;
    border-style:double;
    background-color: #E8AA19;
    text-align: center;
    border-width: 10px 70px 40px 70px;
    -moz-border-image:url("../img/border-name.png") 40 30 10 20 repeat;
    -webkit-border-image:url("../img/border-name.png") 25 25 25 25 repeat;
    border-image:url("../img/border-name.png") 10 90 45 70 repeat;
    font-size: 28px;
    font-weight: bolder;
    display: inline;
    padding: 3px 5% 0px 5%;
}

a#name {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #FFD222;
}

#title {
    padding-bottom: 15px;
}

#projects, #github-statistics {
    margin-top: 50px;
    display: inline;
    color: #FFF;
}

#projects > div, #github-statistics > div {
    margin: 5px;
}

#logo {
    width: 70%;
}

legend {
    color: black;
    font-weight: bold;
    font-size: 120%;
    letter-spacing: 2.2px;
}

#percent {
    color: #E8AA19;
}

#social-holder {
    padding: 10px;
    float: left;
    /*height: 35px;*/
}

.code-sent {
    color: #477649;
}

.code-not-sent {
    color: #AD1E17;
}
