{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <ul class="example-orbit" data-orbit>
        <li><img src=
        "http://placehold.it/1000x400&amp;text=[%20img%201%20]"></li>
        <li><img src=
        "http://placehold.it/1000x400&amp;text=[%20img%202%20]"></li>
        <li><img src=
        "http://placehold.it/1000x400&amp;text=[%20img%203%20]"></li>
      </ul>
    </div>
  </div>
    
<hr/>

  
<!-- Three-up Content Blocks -->

  <div class="row">
    {% for course in courses %}
      <div class="large-4 columns text-center">
        <img src="{{MEDIA_URL}}{{ course.image }}" style="height: 300px;">
        <h4>{{ course.name }}</h4>
        <p style="min-height: 200px;">{{ course.short_description }}</p>
        <div class="text-center">
          <a href="/course/{{ course.url }}/"><button>Прочети повече</button></a>
        </div>
      </div>  
    {% endfor %}
  </div>
{% endblock %}