{% extends "base.html" %}

{% block meta %}
  <title>HackBulgaria - Курсове по програмиране</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns text-center">
      <img src="{{ STATIC_URL }}img/HackBG-logo.png" alt="Hack Bulgaria" style="padding-top: 20px;">
      <p>
        <h2>Курсове по програмиране, в които писането на код е задължение, а лекциите са за домашно.</h2>
      </p>
    </div>
  </div>

  <hr/>

    {% for course in courses %}
      {% if forloop.counter0|divisibleby:2 %}
        <div class="row">
      {% endif %}
          <div class="medium-6 columns text-center">
            <a href="{% url 'courses:show_course' course.url %}"><img src="{{MEDIA_URL}}{{ course.image }}" style="height: 300px;"></a>
            <h4>{{ course.name }}</h4>
            <p style="min-height: 150px;">{{ course.short_description }}</p>
          </div>
      {% if forloop.counter0|divisibleby:2 %}
        </div>
      {% endif %}

    {% endfor %}
  </div>
{% endblock content %}
