[report]
omit = */migrations/*,odin/*,*/admin.py,*/tests.py,*/__init__.py,manage.py
exclude_lines =
    class Command
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
