pid /tmp/{{ DOMAIN }}-nginx.pid
error_log /tmp/{{ DOMAIN }}-nginx.error.log


server {
    listen 80;
    listen 443 ssl spdy;

    spdy_headers_comp 2;

    server_name {{ DOMAIN }};

    ssl_certificate /etc/nginx/ssl/{{ DOMAIN }}.chained.crt;
    ssl_certificate_key /etc/nginx/ssl/{{ DOMAIN }}.key;

    ssl_dhparam /etc/nginx/ssl/dhparam.pem;
    ssl_prefer_server_ciphers on;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    # Best security
    ssl_ciphers 'AES256+EECDH:AES256+EDH:!aNULL';

    # Best compatibility
    # ssl_ciphers ECDH+AESGCddM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!AES256;

    ssl_session_cache shared:SSL:15m;
    ssl_session_timeout 15m;

    if ($ssl_protocol = "") {
        return 301 https://$server_name$request_uri;
    }

    gzip on;
    gzip_http_version 1.0;
    gzip_comp_level 2;
    gzip_proxied any;
    gzip_min_length 1100;
    gzip_buffers 16 8k;
    gzip_types text/plain text/html text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_vary on;
    gzip_disable "MSIE [1-6].(?!.*SV!)";

    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_trusted_certificate /etc/nginx/ssl/trustchain.crt;

    client_max_body_size 5m;

    # OpenDNS
    resolver 208.67.222.222 208.67.220.220 valid=300s;
    resolver_timeout 10s;

    location /static {
        alias /home/{{ USER }}/sites/{{ DOMAIN }}/static;
    }

    location / {
        proxy_pass http://unix:/tmp/{{ DOMAIN }}.socket;
        proxy_set_header Host $host;
        proxy_set_header User-Agent $http_user_agent;
        proxy_set_header X-Real-IP $remote_addr;
        # Alternative to force https
        # proxy_set_header X-Forwarded-Proto 'https';
        add_header Strict-Transport-Security "max-age=31536000";
        add_header X-Content-Type-Options nosniff;
    }
}
