description {{ DESCRIPTION }}

start on net-device-up
stop on shutdown

respawn

setuid {{ USER }}
chdir {{ SOURCE_FOLDER }}

script
    . ../virtualenv/bin/activate
    gunicorn -c {{ APP_NAME }}/gunicorn-conf.py {{ APP_NAME }}.wsgi:application
end script
